.ui.segment {
  padding: 0;
}

.catalogMenuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 3rem;
}

.catalogMenuItem {
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  width: 100%;
  text-align: center;
  line-height: 3rem;
}

.catalogMenuItem:hover {
  background-color: rgba(34, 36, 38, 0.15);
}

.activate {
  background-color: rgba(34, 36, 38, 0.15);
}

.ui.avatar.image {
  width: 3rem;
  height: 3rem;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

.ui.avatar.image.deleteBut:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.ui.popup {
  max-width: 500px;
}
