.itemComponent {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  color: black;
  transition: height 2s;
}



.itemBlock{
  
  color: grey;
  width: 90%;
}

.itemBlock:hover{
  
  color:black
}

.itemComponentImg {
  position: relative;
  width: 15%;
  display: inline-block;
  vertical-align: auto;
}

.infoBlock {
  position: relative;
  display: inline-block;
  width: 75%;
  margin-left: 2rem;
  vertical-align: top;
}

.buyBlock {
  margin: 2.5em 1em;
}

.cart {
  width: 3rem;

  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
.cart:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
